.main {
    font-family: 'Inter', sans-serif;
}

.site-logo {
    display: block;
    margin: 60px auto;
}

.main>p {
    margin: 0 auto;
    max-width: 987px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
}

@media screen and (max-width: 1200px) {
    .main>p {
        max-width: 100%;
        padding-left: 6.4rem;
        padding-right: 6.4rem;
    }
}

@media screen and (max-width: 1000px) {
    .main>p {
        padding-left: 5.4rem;
        padding-right: 5.4rem;
    }
}

@media screen and (max-width: 800px) {
    .main>p {
        padding-left: 4.4rem;
        padding-right: 4.4rem;
    }
}

@media screen and (max-width: 745px) {
    .site-logo {
        margin: 40px auto;
    }

    .main>p {
        padding-left: 7.4rem;
        padding-right: 7.4rem;
    }
}

@media screen and (max-width: 576px) {
    .main>p {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}